@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');
body{
    background-color: snow;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Antonio', sans-serif;
}
header{
    position: sticky;
    top: 0;
    background-color: snow;

}
.nav{
    width: 100vw;
    display: flex;
}
.dark-mode-background{
    background: url('./img/background.jpg');
}
.dark-mode-features{
    background-color: rgba(225,225,225,0.5);
    border-radius: 15px;
}
.dark-health{
    background: rgba(255, 204, 0, .5);
}
.dark-health-one{
    background-color: rgba(225,225,225,0.5);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(255, 204, 0, 1);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(255, 204, 0, 1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.transparent{
    background-size: cover;
    
    padding: 2em;
}
.full-screen{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}
.top-screen{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 35em;

}
.features{
    /* background-color: rgba(0,0,0,0.25); */
    margin-top: 1em;
    font-size: 1.5rem;
}
.features h1{
    text-align: center;
    color: rgba(255, 204, 0, 1);
}

.fuel-gauge{
    display: flex;
    justify-content: space-evenly;
    right: 0;
    padding: 1em;
}
.fuel-gauge img{
    width: 3em;
    height: 3em;

}
.space-view{
    display: flex;
    justify-content: space-evenly;
    left: 0;
}
.space-view img{
    width: 5em;
    height: 5em;
}
.ship-diagram{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.ship-diagram img{
    width: 7em;
    height:7em;
}
.notifier{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.notifier p{
    animation-name: textBlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 2em;
}
.notifier .images img{
    width: 10em;
    height: 11em;
    margin: 1em;
    animation-name: borderBlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.left-box{
    background-color: rgba(255, 204, 0, 1);
    border-radius: 10px 0 0 10px;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .1em;
    padding: 1em;
}
.message-box-container{
    display: flex;
}
.message-box{
    background: url('./img/monitor-view-one.jpeg');
    width: 27.5em;
    height: 20em;
    padding: 1em;
    margin: .2em;
    border: solid white 2px;
    background-repeat: no-repeat;
    display: flex;
}
.health-boxes{
    display: flex;
    
}
.green{
    background-color: rgba(106, 204, 150, 0.75);
    background-image: none;
}
.health-one{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.25),rgba(0,0,0,0.25), rgba(106, 204, 150, 0.75));
    
}
.health img:hover{
    transform: scale(1.5);
}
.health:hover{
    border: 2px solid rebeccapurple;
    cursor: pointer;
}
.health{
    margin: .5em;
    padding: 1em;
    width: 4.7em;
    height: 5em;
    display: flex;
    border: solid 1px white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75);
}
.health img{
    width: 3em;
    height: 3em;
    margin: auto;
}
.rounded-box{
    background-color: rgba(255, 204, 0, 1);
    border-radius: 0 20px 20px 0;
    padding: 1em;
}
#about {
    padding: 1em;
    width: 50%;
    margin: auto;
    background-color: rgba(225,225,225,0.5);
    border-radius: 15px;
    margin-top: 1em;
    font-size: 1.5em;
    
}
header img{
    width: 5em;
}
header{
    display: flex;
    padding: 1em;
}
.header-one{
    background-color: rgba(225,225,225,0.5);
    width: 75%;
    height: 2em;
    border-radius: 0 20px 20px 0;
    margin-top: 1.7em;
    margin-left: 1.7em;
    
}
.footer{
    display: flex;
}
.footer-one{
    background-color: rgba(225,225,225,0.5);
    width: 10%;
    height: 2em;
    border-radius: 20px 0 0 20px ;
    margin-right: 1em;
}
.footer-two{
    background-color: rgba(225,225,225,0.5);
    width: 85%;
    height: 2em;
    border-radius: 0 20px 20px 0;
    animation-name: footerLength;
    animation-duration: 2s;
}

@keyframes borderBlink{
    0%{
        border: solid 4px red;
    }
    25%{
        border: none;
    }
}
@keyframes textBlink{
    0%{
        color:  red;
        transform: scale(1.5);
    }
}
@keyframes footerLength{
    0%{
        width: 30%;
    }
    25%{
        width: 60%;
    }
}

@media(max-width:420px){
    body{
        background-image: unset;
    }
    .full-screen{
        margin: auto;
        background-color: none;
    }
   .health-boxes{
       flex-wrap: wrap;
       width: 20em;
       justify-content: center;
   }
   .health{
       width: 4em;
       height: 4em;  
   }
   .header-one{
       display: none;
   }
   /* .message-box-container{
       padding: 0;
       display: flex;
   } */
   .message-box{
       width: 15em;
       height: 15em;
       
       border: none;
   }
   .top-screen{
       margin: auto;
       display: flex;
       flex-direction: column;
   }
   .left-box{
       margin: 0;
       
   }
   .rounded-box.bottom{
       display: none;
   }
   .left-box.bottom{
       display: none;
   }
   #about{
       width: 15em;
       font-size: inherit;
       margin: auto;
       margin-bottom: 1em;
   }
   .nav{
       width: 100vw;
   }
   .nav img{
       width: 2em;
       height: 2em;
   }
   .top-screen{
       width: auto;
   }
   
}